In [24]:
'''1st question'''
b1=("chai" ,79.52 ,(34,55,34),["aashu",23,"bhavya"])

In [25]:
type(b1)

tuple

In [26]:

data_type = type(b1[0])
print(data_type)

<class 'str'>

In [27]:
data_type = type(b1[2])
print(data_type)

<class 'tuple'>

In [28]:
data_type = type(b1[3])
print(data_type)

<class 'list'>

In [29]:
data_type = type(b1[1])
print(data_type)

<class 'float'>

In [31]:
'''2nd question'''
var1=  ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [32]:
type(var1)

str

In [33]:
type(var2)

str

In [34]:
type(var3)

list

In [35]:
type(var4)

float

In [1]:
'''3rd question'''
a=10
b=2

In [2]:
print("The vaue of this is :",(a/b))

The vaue of this is : 5.0

In [3]:
print("The vaue of this is :",(a%b))

The vaue of this is : 0

In [5]:
print("The vaue of this is :",(a//b))

The vaue of this is : 5

In [6]:
print("The vaue of this is :",(a**b))

The vaue of this is : 100

In [7]:
'''4th question'''
listed=[1,1.2,2.333333333333,"Juypter",True,None,1+5j,[1,2,3],(1,2),{1,8}]
for i in listed:
    print("The element is: ",i,"and it's datatype is ",type(i))

The element is:  1 and it's datatype is  <class 'int'>
The element is:  1.2 and it's datatype is  <class 'float'>
The element is:  2.333333333333 and it's datatype is  <class 'float'>
The element is:  Juypter and it's datatype is  <class 'str'>
The element is:  True and it's datatype is  <class 'bool'>
The element is:  None and it's datatype is  <class 'NoneType'>
The element is:  (1+5j) and it's datatype is  <class 'complex'>
The element is:  [1, 2, 3] and it's datatype is  <class 'list'>
The element is:  (1, 2) and it's datatype is  <class 'tuple'>
The element is:  {8, 1} and it's datatype is  <class 'set'>

In [8]:
'''5th question'''
listed=list(map(int,input("Enter the A & B value: ").split()))
count=0
if(listed[0]%listed[1]==0):
    while(listed[0]%listed[1]==0):
        count+=1
        listed[0]=listed[0]/listed[1]
    print("The count value is: ",count)
else:
    print("The number is not purely divisible")

Enter the A & B value:  10 2

The count value is:  1

In [9]:
'''6th question'''
listed=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25 ]
for i in listed:
    if(i%3==0):
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

In [10]:
'''7th question'''
A="Orange"
A[5]='p'
print(a)'''example for unmutable elements
             tuples are not unmutable'''

TypeError: 'str' object does not support item assignment

In [11]:
B=(1,2,3)
B[1]=78
print(B)'''example for unmutable elements
             tuples are not unmutable'''

TypeError: 'tuple' object does not support item assignment

In [12]:
listed=[1,2,3]
listed[1]="one"
print(listed)'''example for mutable elements
                  list are mutable'''

[1, 'one', 3]